
@font-face {
  font-family: 'omnom';
  src: url('gooddog_new.ttf');
}

body {
font-family: 'omnom', arial;
background-image: repeating-linear-gradient(90deg, #c0ffc0, #c0ffc0 30px, #b0ffb0 30px, #b0ffb0 60px);
}

button {
font-family: 'omnom', arial;
border-radius: 2px;
}

.tpborder {
border-top-left-radius:7.5px;
border-top-right-radius:7.5px;
}

.btborder {
border-bottom-left-radius:7.5px;
border-bottom-right-radius:7.5px;
}

  #progress {
    width: 7.25%;
    background-color: #404040;
	border: 2px solid black;
    height: 10px;
    text-align: center;
	font-size: 10px;
  }
  
  #bar {
    width: 0%;
    height: 10px;
    background-color: #00EE00;
    line-height:10px;
    color: white;
  }
  
.upgbutton {
background-image: linear-gradient(rgb(239, 42, 11), rgb(255, 100, 0));
border-color: rgb(255, 155, 0);
width: 200px;
height: 100px;
font-size: 17px;
}

#upgrades {
width: 250px;
height: 500px;
background-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: 10%;
left: 81.7%;
}

.tabbtn {
font-size: 25px;
width: 180px;
height: 75px;
background-color: #a0ffa0;
border-radius: 10px;
outline:none;
}

.autobtn {
border-color:#a0a0a0;
color:#a0a0a0;
background-color:#808080;
}